//footer

.c-footer {

  a:link,
  a:visited,
  a:active {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    filter: brightness(0.75);
    opacity: 0.7;
    color: #f5f5f5;
  }
}

//search

.textArea {
  h3 {
    text-decoration: underline solid rgb(12, 12, 83);

    & a:hover {
      color: rgb(158, 17, 59);
    }
  }

}