//****.l-frontPage-headerのグリッド

.l-frontPage__header {

  display: grid;
  grid-template: 217px auto / 1fr;

  .l-frontPage__header-head {
    grid-row: 1;
    grid-column: 1;
  }

  .l-frontPage__sub {
    grid-row: 2;
    grid-column: 1;
  }

}


//*****l-frontPage__subのグリッド

.l-frontPage__sub {
  display: grid;
  grid-template: auto/auto;
}

.l-frontPage__sub h2 {
  grid-row: 1/-1;
  grid-column: 1;
}

.l-frontPage__sub img {
  grid-row: 1;
  grid-column: 1;
}

@include pc {

  //*****l-frontPage__sub(PC用)のグリッド

  .l-frontPage__sub {
    display: grid;
    grid-template: auto/1fr;
  }

  .l-frontPage__sub h2 {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
  }

  .l-frontPage__sub img {
    grid-row: 1;
    grid-column: 1;
  }
}


//****フロントページ<article>のグリッド

.l-frontPage__article {
  display: grid;

  @include tab {
    grid-template: 1fr / var(--side) 1fr var(--side);

    .l-branchMenu {
      grid-row: 1;
      grid-column: 2;
    }
  }
}

//*****.l-branchMenuのグリッド

.l-branchMenu {

  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  margin: 40px var(--side);
  row-gap: 30px;
  justify-items: center;

  //.l-branchMenuのグリッド(tab)

  @include tab {
    grid-template: 1fr / repeat(2, minmax(50%, 330px));
    column-gap: 40px;
    row-gap: 0;
    justify-content: space-evenly;
  }

  //.l-branchMenuのグリッド(pc)

  @include pc {

    grid-template: 1fr / repeat(2, minmax(50%, 625px));
    column-gap: 45px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .take-out {
    grid-row: 1;
    grid-column: 1;

  }

  .eat-in {
    grid-row: 2;
    grid-column: 1;

    @include tab {
      grid-row: 1;
      grid-column: 2;
    }

  }

}


//*****l-branchMenu>liのグリッド

.l-branchMenu li {
  display: grid;

  & a {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
}

.l-branchLink {
  display: grid;
  grid-template: 1fr auto 10px auto 10px / 10px auto 10px;


  & h2 {
    grid-row: 1;
    grid-column: 2;
  }


  .detail01 {
    grid-row: 2;
    grid-column: 2;
  }

  .detail02 {
    grid-row: 4;
    grid-column: 2;
  }
}


//*****<section>のグリッド(PC用のみ)

.l-access {
  display: grid;

  @include pc {

    grid-template: 40% 43% 30px / var(--side) auto 1fr;

    & h2 {
      grid-row: 1;
      grid-column: 2;
    }

    & p {
      grid-row: 2;
      grid-column: 2;
    }

    &::after {
      grid-row: 1/-1;
      grid-column: 1/-1;
    }

  }
}

//タイトルを中央にするためのグリッド

.l-main__header,
.l-shopMain__header {
  display: grid;
}


//旧c-cardのグリッド
#category {
  .wp-block-media-text {

    @include tab {
      display: grid;
      grid-template: auto / repeat(2, 1fr);
      grid-auto-flow: column;

      .wp-block-madia-text__media {
        grid-row: 1;
        grid-column: 1;
        width: 50%;
      }

      .wp-block-madia-text__content {
        grid-row: 1;
        grid-column: 2;
        width: 50%;
      }
    }

  }
}


//category__navのグリッド

.l-category__nav {
  display: grid;

  .l-number__nav {
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 13px;
    align-items: center;
  }
}


//.l-titleHのグリッド

.l-titleH {
  display: grid;
  row-gap: 20px;
}


//page
#page {
  .wp-block-media-text {
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    grid-auto-flow: column;

    .wp-block-madia-text__media {
      vertical-align: top;
    }

  }
}